<div>
    This is an {{QuizType}}
</div>
<!-- <div>
<table *ngIf = 'persons && persons.length'>
    <th>Name</th>
    <th>Age</th>
    <th>Location</th>
    <tr *ngFor = 'let person of persons'>
        <td>{{person.name}}</td>
        <td>{{person.age}}</td>
        <td>{{person.location}}</td>
    </tr>
    </table>
</div>
    <img *ngIf = 'showImage' [src] = 'imageURL' [style.width.px] = 'width'/><br/>
    <button (click) = 'toggleShow()'>{{showImage? 'Hide' : 'Show'}} Image</button>
<div>
    <label>Filter By</label>
    <input type="text" [(ngModel)] = 'listFilter'/>
    <button>Filter</button><br/>
    <label>Filtered By: {{listFilter}}</label>
    
</div> -->

<button (click) = 'getQuestions()'>GET</button><br />
<tr *ngFor = 'let question of questions'>
    <td>{{question.results[0].question}}</td><br />
    <!-- <div>
        <input type="radio">{{question.results[0].incorrect_answers[0]}}<br />
        <input type="radio">{{question.results[0].incorrect_answers[1]}}<br />
        <input type="radio">{{question.results[0].incorrect_answers[2]}}<br />
        <input type="radio">{{question.results[0].correct_answer}}<br />
    </div> -->
    <div *ngFor = 'let answer of answers'>
        <input type="radio" name="option">{{answer}}<br/>
    </div>
    <button (click) = 'submitAnswer()'>Answer</button>
    <!-- <div>
        Answer : {{question.results[0].correct_answer}}
    </div> -->
</tr>

    
